body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

#video {
  width: 90%;
  border-radius: 15px;
  margin-top: 20px;
}

#result {
  font-size: 32px;
  margin-top: 20px;
  font-weight: bold;
}
